<!-- Search imput -->
<div class="row mt-5">
  <div class="col-xs-12 col-sm-10 col-md-6 mx-auto text-center">
    <h1 class="mb-3">Image Search 🔎</h1>
    <app-search (pageReset)="resetPage($event)"></app-search>
  </div>
</div>
<!-- images card -->
<div
  class="container_elements mt-3"
  *ngIf="resultImages"
  style="margin-top: 30rem"
>
  <app-card-image
    *ngFor="let item of resultImages | pagination : page"
    style="justify-self: center"
    [imageSearch]="item.webformatURL"
    [likes]="item.likes"
    [views]="item.views"
    [tags]="item.tags"
  ></app-card-image>
</div>

<!-- Pagination -->
<app-paginatio-component
  [pageNumberTotal]="pageTotal"
  (PageNumber)="setPage($event)"
></app-paginatio-component>

